.root {
  padding: 20px;
  background-color: #454545;
}

.heading {
  background: #26890d;
  color: #fff;
  font-weight: bold;
  font-size: 3rem;
  padding: 10px;
}

.item {
  border-bottom: 1px solid #000000;
}


.button {
  border: 1px solid black;
  border-radius: 3px;
  color: #000000;
  background-color: #e8eae9;
  padding: 8px;
  margin: 10px;
}